@use "./variables" as *;

@import "./normalize.scss";
@import "./utilities/colours";
@import "./utilities/spacing";

* {
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  color: $text;
}

body {
  background-color: $body;
}
